<div id="angularRoot">
  <div fxLayout="column" fxFlex="column" fxLayoutAlign="space-around center" fxShow="true" fxHide="false">
    <button mat-fab="" color="warn">
      <i class="material-icons"> delete_forever </i>
    </button>
    <h4 style="margin: 10px 0; font-weight: normal;">Are you sure, want to proceed Delete..?</h4>
    <p>{{helpText}}</p>
    <div fxLayout="row" style="width: 100%;padding-top: 20px; border-top: 1px solid #999;" fxFlex="row" fxLayoutAlign="space-between center" fxShow="true" fxHide="false">
      <button mat-raised-button="" [mat-dialog-close]="1" color="primary">Yes</button>
      <button mat-raised-button="" cdkFocusInitial="" color="accent" (click)="onNoClick()">No</button>
    </div>
  </div>
</div>