<div class="column drop bkeeper-container-label ui-sortable ui-sortable-handle" b-editor-key="81d8ee7c-c63b-2f83-07e3-f01a820a1e03">
  <div class="ad-header ad-charts-border drop bkeeper-container-label ui-sortable ui-sortable-handle" b-editor-key="23c2b0c1-a324-8775-4257-0691048fc280" style="">
    <div class="ad-mini-fab-button ad-fab" b-editor-key="baccdd13-00e6-d6b8-91be-71cfc00fcaa4"></div>
  </div>
  <div class="ad-sidenav-container ad-charts-border drop bkeeper-container-label ui-sortable ui-sortable-handle" b-editor-key="daa77469-e498-4db6-a640-1490f6b9ff14" style="">
    <div class="ad-side-nav1 ad-charts-border drop bkeeper-container-label ui-sortable ui-sortable-handle" b-editor-key="c0ca61d8-bc2a-2ba0-4033-6061846bfb22" style="">
      <div class="ad-list-border drop ad-list ui-sortable ui-sortable-handle" b-editor-key="0eb6e6ae-935c-0acf-22bd-51f4f27882a9" style="">
        <div class="ad-list-border drop ad-list ad-list-item ui-sortable ui-sortable-handle" b-editor-key="d239bef1-6d4d-8472-2266-9cf46e259f7d"></div>
      </div>
      <img class="icons-events ui-sortable-handle" style="height:15px;width:15px; vertical-align:middle; position:absolute !important;top:0%;left:55px;" src="assets/toolkitResources/sidenav1.ico">
    </div>
    <div class="row drop bkeeper-container-label ui-sortable ui-sortable-handle" b-editor-key="283246e5-64c4-859a-c1ab-c838248a4c4d" style="">
      <div class="ad-list-border drop ad-list ui-sortable ui-sortable-handle" b-editor-key="8b3dcb8e-340b-ad27-b717-62c816507b6a" style="">
        <div class="ad-list-border drop ad-list ad-list-item ui-sortable ui-sortable-handle" b-editor-key="aee927a3-6c25-3840-b36a-483200c526dd" style="">
          <div class="ad-list-border drop ad-list ui-sortable ui-sortable-handle ui-select-panel" b-editor-key="8746dd38-419a-ff7b-a4a5-921ff67f6c58" style="">
            <div class="ad-list-border drop ad-list ad-list-item ui-sortable ui-sortable-handle" b-editor-key="efebb799-4f64-7671-b8d1-d32e73d7d005" style="">
              <div class="ad-mini-fab-button ad-fab" b-editor-key="351a999a-bffb-9331-014e-935ad911ad52"></div>
            </div>
            <div class="ad-list-border drop ad-list ad-list-item ui-sortable" b-editor-key="2b3e00f6-8e73-1ad2-7601-4d54044b39f1"></div>
            <img class="delete ui-draggable ui-draggable-handle" src="assets/remove.svg" style="position: relative; cursor: pointer;">
          </div>
          <div class="ad-mini-fab-button ad-fab" b-editor-key="030ef8d9-8165-563d-085f-35fa6ef5c9a1" style=""></div>

          <div class="ad-list-border drop ad-list ui-sortable" b-editor-key="f563f9ab-bc7a-56bd-3d97-61372cb6bc9f"></div>
        </div>
        <div class="ad-list-border drop ad-list ui-sortable" b-editor-key="953c5899-da1e-9bd8-8ac4-044795d232b4" style=""></div>
        <div class="ad-list-border drop ad-list ad-list-item ui-sortable" b-editor-key="5d5edeb4-4392-3581-ca49-070b6ba5c1c0" style=""></div>

      </div>
    </div>
    <i style="font-size: 20px;position:absolute !important;top:0%;left:100px;" class="material-icons validate icons-events ui-sortable-handle">content_paste</i>
  </div>
</div>