<div id="angularRoot">
  <div fxLayout="column" fxFlex="cloumn" fxShow="true" fxHide="false">
    <header class="headerDivM">
      <button mat-mini-fab="" color="primary" (click)="sidenav.toggle()">
        <i class="material-icons"> menu </i>
      </button>
    </header>
    <mat-sidenav-container style="width:100%;height:100%" class="sideNavDragContainer">
      <mat-sidenav #sidenav="" style="height:100%;width:25%" class="sideNavDraggable" mode="side" opened="true">
        <mat-list dndEffectAllowed="copyMove" dndDropzone="" (dndDrop)="onDrop($event, draggableListLeft)" class="draggableEle">
          <mat-list-item *ngFor="let item of draggableListLeft" [dndDraggable]="item" [dndDisableIf]="item.disable" [dndEffectAllowed]="item.effectAllowed" (dndStart)="onDragStart($event)" (dndCopied)="onDragged(item, draggableListLeft, &apos;copy&apos;)"
            (dndLinked)="onDragged(item, draggableListLeft, &apos;link&apos;)" (dndMoved)="onDragged(item, draggableListLeft, &apos;move&apos;)" (dndCanceled)="onDragged(item, draggableListLeft, &apos;none&apos;)" (dndEnd)="onDragEnd($event)">{{item.content}}</mat-list-item>
        </mat-list>
      </mat-sidenav>
      <div fxLayout="row" style="width:100%; height:100%" fxFlex="row" fxLayoutAlign="space-evenly start" fxShow="true" fxHide="false" (dndDrop)="onDrop($event, draggableListRight)" dndDropzone="" dndEffectAllowed="copyMove">
        <mat-list style="width:100%;" [sortablejs]="draggableListRight" class="droppableEle">
          <mat-list-item *ngFor="let item of draggableListRight; let i = index" [dndEffectAllowed]="item.effectAllowed" [dndDisableIf]="item.disable" dndDropzone="" (dndDrop)="onDrop($event, item.children, item)" [ngClass]="{&apos;activeChildren&apos;: item.children.length &gt; 0 }"
            [attr.data-index]="i" draggable="true">
            <b>{{item.content}}</b>
            <mat-list [sortablejs]="item.children" class="innerDroppable">
              <mat-list-item *ngFor="let cItem of item.children">{{cItem.content}}
                <button mat-mini-fab="" class="listDeleteIcon" color="warn" (click)="removeItem($event, item.children, cItem)">
                  <i class="material-icons"> delete_forever </i>
                </button>
              </mat-list-item>
              <mat-list-item class="dndPlaceholder"></mat-list-item>
            </mat-list>
            <button mat-mini-fab="" class="listDeleteIcon" color="warn" (click)="removeItem($event, draggableListRight, item)">
              <i class="material-icons"> delete_forever </i>
            </button>
            <mat-list></mat-list>
          </mat-list-item>
          <mat-list></mat-list>
          <mat-list-item style="height: 0px;" class="dndPlaceholder"></mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav-container>
  </div>
</div>