/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";

.float-left{
  float: left;
}

.float-right{
  float: right;
}

mat-list.draggableEle.mat-list {
    background-color: #eee;
  	padding: 0;
}

.draggableEle mat-list-item.mat-list-item {
    background-color: #3aa1b7;
    color: #fff;
    border: 2px solid #096f86;
    margin: 12px;
    border-radius: 4px;
  	cursor: pointer;
}

.headerDivM{
    padding: 8px 15px;
    box-shadow: 0px 2px 3px #999;
    position: relative;
    z-index: 9;
}

mat-sidenav.sideNavDraggable {
    box-shadow: 2px 0px 2px #999;
}

mat-sidenav.sideNavDraggable {
    -webkit-box-shadow: 2px 0px 2px #999;
    box-shadow: 2px 0px 2px #999;
}

.droppableEle > .mat-list-item:not(.dndPlaceholder) {
    background-color: #3aa1b7;
    border: 2px solid #096f86;
    border-radius: 4px;
    margin: 10px 20px;
    text-align: center;
    height: auto !important;
    min-height: 48px;
    max-height: 230px;
    overflow: hidden;
  	cursor:pointer;
}

.droppableEle .mat-list-item .mat-list-item-content{
    color: #fff;
    text-align: center;  
  	min-height: inherit;
}

mat-list.innerDroppable {
    width: 100%;
    border-radius: 4px;
    padding: 0px;
    -webkit-box-shadow: 0 0 2px #fff;
    box-shadow: 0 0 2px #fff;
    margin: 5px 5px 5px 20px;
    max-height: 220px;
    overflow: auto;
}

mat-list.innerDroppable mat-list-item.mat-list-item:not(.dndPlaceholder) {
    border: 1px solid #78bece;
    border-radius: 4px;
    margin: 4px;
}

mat-list.innerDroppable mat-list-item.mat-list-item.dndPlaceholder{
  	height: 0px;
}

.dndDragover.mat-list-item mat-list.innerDroppable mat-list-item.mat-list-item,
.dndDragover .droppableEle > .mat-list-item.dndPlaceholder{
  	border:2px solid #096f86;
    border-radius: 4px;
  	height: 48px !important;
}

.dndDragover .droppableEle > .mat-list-item.dndPlaceholder{
  	margin: 10px 20px;
  	background-color: #ddd;
}

.droppableEle > .mat-list-item b {
    width: 25%;
    font-weight: normal;
    text-transform: uppercase;
}

mat-list.innerDroppable mat-list-item.mat-list-item .listDeleteIcon {
    position: absolute;
    right: 5px;
    top: 4px;
}

button.listDeleteIcon.mat-mini-fab {
    /*transform: scale(0);
  	width: 0px;
  	height: 0px;*/
    /* position: absolute; */
}

/*.mat-list-item:hover > .mat-list-item-content button.listDeleteIcon.mat-mini-fab {
    transform: scale(1);
  	width: 35px;
  	height: 35px;
}*/

mat-icon.deleteConfirmIcon {
    padding: 5px;
    background-color: orangered;
    border-radius: 50px;
    color: #fff;
}

.mat-dialog-container {
    position: relative;
    border-radius: 10px !important;
  	font-family: Roboto,"Helvetica Neue",sans-serif;
  	text-align: center;
}


