<div class="column drop bkeeper-container-label ui-sortable" b-editor-key="10082c1f-e97f-5abd-a2c0-41f38942ee25">
  <div class="ad-fab-button ad-fab" b-editor-key="462b5720-631f-c763-edd5-5e2fa0aec089"></div>
  <div class="ad-header-elements ad-h4" b-editor-key="f62a8124-b70b-b44f-e22f-7ab623f1a5bd">h4</div>
  <div class="ad-header-elements ad-h3" b-editor-key="552ff596-ff30-7b43-cded-20cfe5b971c2">p</div>
  <div class="row drop bkeeper-container-label ui-sortable ui-select-panel" b-editor-key="0b9ce8b0-c8dc-e581-d512-5051d61f4dae">
    <div class="ad-raised-button" b-editor-key="3431bfd7-12f8-841a-5ac5-c7f4f1a3cfef"></div>
    <div class="ad-raised-button" b-editor-key="96580995-ba26-7671-bb0b-4e9cb3baade2"></div>
    <img class="delete ui-draggable ui-draggable-handle" src="assets/remove.svg" style="position: absolute; cursor: pointer;">
  </div>
</div>